.subscribe-button{
    color : white;
    background-color : rgb(255,0,0);
    border: none;
    height: 36px;
    width: 105px;
    border-radius: 8px;
}

.join-button {
    color: rgb(255, 0, 242);
}
.github-button {
    color: white;
    background-color: rgb(46,164,79);
    border: none;
    height: 30px;
    width: 70px;
    border-radius: 3px;
}
.amazon-button {
    color: black;
    background-color: rgb(255,216,20);
    border: none;
    border-radius: 20px;
    height: 40px;
    width: 159px;
}
.uber-button{
    color: white;
    border: none;
    background-color: black;
    height: 35px;
    width: 100px;
}
